.main-sisältö {
    background-color: #eee;
    margin: 50px 20px;
    padding: 30px;
}
.otsikko {
    text-align: center;
}
.teksti {
    text-align: center;
}
.asd {
    background: white;
    margin: 0;
    padding: 10px;
}
.kuva {
    margin: 0 auto;
    display: block;
}
.kuva-teksti {
    text-align: center;
    padding: 20px;
}
.qwerty {
    text-align: center;
}
.lista {
    max-width: 550px;
    margin: 0 auto;
    line-height: 30px;
}
.poiuyt {
    max-width: 550px;
    margin: 0 auto;
    padding-top: 40px;
    font-style: italic;
}
.asdfg {
    max-width: 550px;
    margin: 0 auto;
    padding-top: 20px;
    font-style: italic;
}
.linkki {
    text-align: center;
    font-size: 21px;
}